flask
line-bot-sdk
openai==0.28
requests
python-dotenv
gunicorn
google-cloud-vision
google-cloud-aiplatform
mysql-connector-python
google-api-python-client
pygame
opencv-python
firebase-admin

